#main {
  width: 90vw;
  min-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;

  border-radius: 2rem;
}
#list {
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
  min-width: 20vw;
  max-width: 80vw;
  height: 100%;
  background-size: cover;
}
.head {
  height: 50%;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#text {
  height: 30%;
  width: 50%;
  min-width: 70%;
  font-size: 2rem;
}
#btn {
  font-size: 2rem;
  height: 35%;
  min-width: 15%;
  max-width: 15%;
  border-radius: 2rem;
}
.error {
  min-width: 0vw;
  min-height: 0vh;
  display: flex;
  justify-content: center;
}
.errmsg {
  color: red;
  font-weight: 1000;
  font-size: 4rem;
}
.errmsghide {
  font-size: 0;
}

.takholder {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.new {
  width: 33%;
}
.progress {
  width: 33%;
}
.complete {
  width: 33%;
}
.newCont {
  display: flex;
  width: 100%;
  justify-content: center;
}
.docont {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(250, 235, 215);
  padding: 1%;
  border-radius: 2rem;
}
.dothis {
  font-size: 2rem;
  width: 70%;
  display: flex;
  align-items: center;
}
.dothiscomplete {
  font-size: 2rem;
  width: 80%;
  text-decoration: line-through;
}
.btnCont {
  width: 30%;
  text-align: center;
}
.check {
  background-image: url(../image/check.png);
  background-size: cover;
  margin: 0 auto;
  margin-right: 5%;
}
.delete {
  background-image: url(../image/trash-bin.png);
  background-size: cover;
  margin: 0 auto;
  margin-right: 5%;
}
